.body {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(221, 216, 216);
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.NewFlex {
  background-color: white;
  justify-content: space-around;
  display: flex;
}
.header1 {
  color: orange;
  text-align: center;
  margin: 20px;
  font-size: 45px;
  margin: 30px;
}
.header2 {
  color: rgb(87, 83, 83);
  font-size: 15px;
  padding: 5px;
}
.my-profile {
  display: flex;
  color: red;
  margin: 50px;
}
.title {
  padding: 30px;
  margin-bottom: 10px;
  background-color: white;
  color: blue;
  font-size: 16px;
}
.search {
  /* background-color: rgb(151, 70, 218); */
  cursor: pointer;
  color: gray;
}
#outlined_basic {
  font-size: 15px;
  outline: none;
  border: none;
}
.checkboxes {
  color: black;
}
.new_buttons {
  display: flex;
  padding: 30px;
  justify-content: right;
  background-color: rgb(221, 216, 216);
}
